
<h1>Formulario de Productos</h1>
<form onsubmit="return addProduct(this)">
    <div class="mb-3 m-3">
        <label for="title" class="form-label">Nombre: </label>
        <input name="title" id="title" type="text" class="form-control">
    </div>
    <div class="mb-3 m-3">
        <label for="price" class="form-label">Precio: </label>
        <input name="price" id="price" type="number" class="form-control">
    </div>
    <div class="mb-3 m-3">
        <label for="thumbnail" class="form-label">Imagen URL: </label>
        <input name="thumbnail" id="thumbnail" type="text" class="form-control">
    </div>
        
    <input type="submit" value="Agregar" class="m-3 btn btn-primary">
    <table class="table m-3">
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>IMAGEN</th>    
        </tr>
        <div id="products"></div>
    </table>    
</form>


<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Email" >
    <div id="messages"></div>
    <input type="text" id="texto" placeholder="Ingresá un mensaje...">
    <input type="submit" value="Enviar">
</form>
